*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-wrapper{
    /* background-color: #f1f3f6; */
}

.brand-container{

}

.login-container{
    /* background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1); */
}

.row{
    margin-right: 0 !important;
    height: 100vh;
}

.intro-img{
    width: 100%;
    height: 36rem;
    border-radius: 8px;
}

.register-container h3{
    color: rgb(102, 145, 231);
}

.register-form input{
    width: 25rem;
    padding: .5rem .9rem;
    font-size: 1rem;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 3px;
}

.login-form input:focus{
    outline: none;
    /* border: 1px solid #007bff; */
}

.name-section{
    display: flex;
    gap: 10px;
}

.name-section input{
    width: 12.25rem;
}

.password-inputgroup{
    position: relative;
}

.password-inputgroup span{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(0%);
    cursor: pointer;
}

.login-btn{
    width: 25rem;
    padding: .5rem .9rem;
    border: none;
    background-color: rgb(102, 145, 231);
    border-radius: 5px;
    color: white;
}

.auth-links{
    width: 25rem;
}